.wrapper{
	width: 600px;
	font-size: 0px;
}
.maroon{
	display: inline-block;
	width: 200px; 
	height: 200px;
	background: maroon;
}
.white{
	display: inline-block;
	width: 200px; 
	height: 200px;
	background: #fff;	
}

